{% extends "layout.html" %}
{% block body %}
    <div class="h-card">
        <div class="container">
            <h6 class="h-text-bold h-text-white">
                <box-icon type='solid' name='music'></box-icon>
                syncfingerprint
            </h6>
        </div>
    </div>
    <div class="h-pop h-text-bold h-hide">

    </div>
    <div class="container">
       
        <div id="load" style="z-index: 20;" class="h-pail-center h-card h-bg-white h-shadow-pinkish h-hide">
            <div class="h-card">
                <img height="100px" width="100px" src="{{ url_for('static', filename='loading.gif') }}">
                <p class="h-text h-font-md-2">Song matching in progress</p>
            </div>
        </div>
        <canvas class="h-card h-center h-col-11 h-bg-white h-outline-white h-shadow-black" id="analyser" style="width:100%;height:200px;" width="1024" height="300"></canvas>
        <p class="h-center">
            <button id="init" class="h-button h-text-bold h-text-white h-bg-lightblue h-shadow-lightblue" onclick="unpause()">Start listening</button>
            <button id="start" class="h-button h-text-bold h-text-white h-bg-blight" onclick="startRecording()" disabled>Start</button>
            <button id="stop" class="h-button h-text-bold h-text-white h-bg-red " onclick="stopRecording()" disabled>Stop</button>
        </p>
        <div id="output" class="h-center"></div>
    </div>
    <div class="h-card">
        <p class="h-text h-text-purple h-font-tiny-2 h-text-right">from TechCre with love.</p>
    </div>
    <script src="{{ url_for('static', filename='h/h.js') }}"></script>
    <script src="{{ url_for('static', filename='recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='audiodisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    


{% endblock %}
