{% extends "layout.html" %}
{% block body %}

    <div class="h-card">
        <div class="container">
            <h6 class="gui-ne-text">
                <box-icon type='solid' name='music'></box-icon>
                syncfingerprint
            </h6>
        </div>
    </div>

    <div class="h-pop h-text-bold h-hide">
    </div>
    
    <div class="container">
        <div id="load" style="z-index: 20;" class="gui-ne-pail-center gui-ne-hide">
            <div class="gui-ne-card-df">
                <img height="100px" width="100px" src="{{ url_for('static', filename='loading.gif') }}">
                <p class="gui-ne-text">Song matching in progress</p>
            </div>
        </div>
        <canvas class="gui-ne-card-btm gui-ne-center gui-ne-col-11" id="analyser" style="width:100%;height:200px;" width="1024" height="300"></canvas>
        <p class="gui-ne-center">
            <button id="init" class="gui-ne-btn" onclick="unpause()">Start listening</button>
            <button id="start" class="gui-ne-btn-go" onclick="startRecording()" disabled>Start</button>
            <button id="stop" class="gui-ne-btn-stop" onclick="stopRecording()" disabled>Stop</button>
        </p>
        <div id="output" class="gui-ne-center"></div>
    </div>

    <div class="gui-ne-list">
        <p class="gui-ne-text">from TechCre with love.</p>
    </div>

    <script src="{{ url_for('static', filename='gui-ne.js') }}"></script>
    <script src="{{ url_for('static', filename='recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='audiodisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
{% endblock %}