<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>syncfingerprint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='h/h.css') }}">

    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
   
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

</head>
<body>
{% block body %} {% endblock %}
</body>
</html>